* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  min-height: 10vh;
  position: fixed;
  top: 0;
  background-color: rgb(43, 31, 17);
  padding: 1rem 0;
  box-shadow: 0 0 2rem rgb(0, 0, 0);
}

main {
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 10vh;
  padding-bottom: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  scroll-behavior: smooth;
  overflow: scroll hidden;
}

footer {
  position: fixed;
  bottom: 0;
  min-height: 5vh;
  width: 100vw;
  background-color: rgb(43, 31, 17);
  padding: 1rem 0;
  color: rgb(153, 134, 93);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


h2 {
  margin: 2rem auto;
  width: 33vw;
  text-align: center;
  padding: 0.5rem;
  background-color: rgb(43, 31, 17);
  box-shadow: inset -2px -2px 0 rgb(151, 103, 0), inset 2px 2px 0 rgb(151, 103, 0);
  border: 3px solid rgb(43, 31, 17);
  font-size: 2.5rem;
  color: rgb(133, 63, 160);
  text-shadow: -2px 2px 1px rgb(180, 155, 190), -4px 4px 0 rgb(133, 63, 160);
}

a {
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
  text-align: center;
}


/* Classes */

.homePage {
  height: 100vh;
  width: 100vw;
  background-image: url('../public/assets/img/dunes.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mainLink {
  width: 50%;
  font-size: 4rem;
  color: rgb(133, 63, 160);
  text-shadow: -2px 2px 1px rgb(180, 155, 190), -4px 4px 0 rgb(133, 63, 160);
}

.subLink {
  width: 25%;
  font-size: 2rem;
  color: rgb(151, 103, 0);
  text-shadow: -1px 1px 1px rgb(187, 171, 135), -2px 2px 0 rgb(151, 103, 0);
}

.textBox {
  margin: 2rem auto;
  width: 66vw;
  text-align: center;
  padding: 1rem;
  background-color: rgb(43, 31, 17);
  box-shadow: inset -2px -2px 0 rgb(151, 103, 0), inset 2px 2px 0 rgb(151, 103, 0);
  border: 3px solid rgb(43, 31, 17);
  font-size: 2rem;
  color: rgb(178, 150, 90);
}

.textBox strong {
  color: rgb(179, 122, 1);
}

.bottomMonkeyCont {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.bottomMonkey {
  width: 23rem;
  height: 20rem;
}

.madeBy {
  margin: 0 1rem;
}